<ul class="cb-slideshow">
  <li style="list-style: none"><span>Image 01</span><div></li>
  <li style="list-style: none"><span>Image 02</span><div></li>
  <li style="list-style: none"><span>Image 03</span><div></li>
  <li style="list-style: none"><span>Image 04</span><div></li>
  <li style="list-style: none"><span>Image 05</span><div></li>
  <li style="list-style: none"><span>Image 06</span><div></li>
</ul>

  
<section>
	<div class="jumbotron" style="z-index: 1000; position: relative;">
  <div class="span10 center" style="padding-top: 150px;">

    <h1 class="animated fadeInDownBig" data-animation="slideInDown">Welcome to<br/>The <img src="http://farm4.staticflickr.com/3719/12244562896_c94f840b17_o.png" width="350px">Collection </h1>

    	<br /> <a class="scroll" data-speed="1000" href="#jerseys"><btn class="btn btn-large btn-primary animated fadeInUpBig">Enter</btn></a></h1>
    
  </div>
</div>
</section>
<section>
  <div class="jerseys">
    <div class="container">
      <h2>Game Worn Jerseys</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="center">
              <div class="col-md-4">
                <img class="img-responsive" src="http://farm4.staticflickr.com/3834/12422148354_be7c2ff9dc_o.png" alt="Ulf Samuelsson">
              </div>
              <div class="col-md-4">
                <img class="img-responsive" src="http://farm4.staticflickr.com/3834/12422148354_be7c2ff9dc_o.png" alt="Ulf Samuelsson">
              </div>
              <div class="col-md-4">
                <img class="img-responsive" src="http://farm4.staticflickr.com/3834/12422148354_be7c2ff9dc_o.png" alt="Ulf Samuelsson">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="center">
              <div class="col-md-4">
                <img class="img-responsive" src="http://farm4.staticflickr.com/3834/12422148354_be7c2ff9dc_o.png" alt="Ulf Samuelsson">
              </div>
              <div class="col-md-4">
                <img class="img-responsive" src="http://farm4.staticflickr.com/3834/12422148354_be7c2ff9dc_o.png" alt="Ulf Samuelsson">
              </div>
              <div class="col-md-4">
                <img class="img-responsive" src="http://farm4.staticflickr.com/3834/12422148354_be7c2ff9dc_o.png" alt="Ulf Samuelsson">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="center">
              <div class="col-md-4">
                <img class="img-responsive" src="http://farm4.staticflickr.com/3834/12422148354_be7c2ff9dc_o.png" alt="Ulf Samuelsson">
              </div>
              <div class="col-md-4">
                <img class="img-responsive" src="http://farm4.staticflickr.com/3834/12422148354_be7c2ff9dc_o.png" alt="Ulf Samuelsson">
              </div>
              <div class="col-md-4">
                <img class="img-responsive" src="http://farm4.staticflickr.com/3834/12422148354_be7c2ff9dc_o.png" alt="Ulf Samuelsson">
              </div>
            </div>
          </div>
        </div>
    </div>
</section>



<section>
  <div class="wanted">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Want List</h2>
          <br />
          <div class="col-md-8">
            <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Mike Richter
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Player</th>
                          <th>Team</th>
                          <th>Style</th>
                          <th>Season</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Mike Richter</td>
                          <td>New York Rangers</td>
                          <td>White Liberty Set 2</td>
                          <td>1998-99</td>
                        </tr>
                        <tr>
                          <td>Mike Richter</td>
                          <td>New York Rangers</td>
                          <td>White</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Mike Richter</td>
                          <td>New York Rangers</td>
                          <td>Blue</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Mike Richter</td>
                          <td>New York Rangers</td>
                          <td>Liberty</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Mike Richter</td>
                          <td>Team USA</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Mike Richter</td>
                          <td>New York Rangers</td>
                          <td>Liberty Head Mask</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Mike Richter</td>
                          <td>New York Rangers</td>
                          <td>Catcher and Blocker Set</td>
                          <td>Any</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    New York Rangers Players
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Player</th>
                          <th>Team</th>
                          <th>Style</th>
                          <th>Season</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Henrik Lundqvist</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>John Davidson</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Adam Graves</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Brian Leetch</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Rumun Ndur</td>
                          <td>New York Rangers</td>
                          <td>White Liberty Set 2</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Ryan McDonagh</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Brandon Dubinsky</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Derek Stepan</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Carl Hagelin</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Ryan McDonagh</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Alexei Kovalev</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Jeff Beukeboom</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Sergei Nemchinov</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Andre Dore</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Dan Blackburn</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Kevin Weekes</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Martin Biron</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Chris Kreider</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Dan Girardi</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Marc Staal</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Eddie Giacomin</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Petr Nedved</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Vinny Prospal</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Brandon Prust</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Ronald Petrovicky</td>
                          <td>New York Rangers</td>
                          <td>Liberty</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Dan Cloutier</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>John Vanbiesbrouck</td>
                          <td>New York Rangers</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    New York Rangers Styles
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Player</th>
                          <th>Team</th>
                          <th>Style</th>
                          <th>Season</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Any</td>
                          <td>New York Rangers</td>
                          <td>Wool</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Any</td>
                          <td>New York Rangers</td>
                          <td>Durene</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Any</td>
                          <td>New York Rangers</td>
                          <td>Durene Shield</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Any</td>
                          <td>New York Rangers</td>
                          <td>"50th Anniversary" Patch</td>
                          <td>1975/76</td>
                        </tr>
                        <tr>
                          <td>Any</td>
                          <td>New York Rangers</td>
                          <td>"Fat Numbers"</td>
                          <td>1979-80</td>
                        </tr>
                        <tr>
                          <td>Any</td>
                          <td>New York Rangers</td>
                          <td>Mesh Shield</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Any</td>
                          <td>New York Rangers</td>
                          <td>"New York" Front</td>
                          <td>1986/87</td>
                        </tr>
                        <tr>
                          <td>Any</td>
                          <td>New York Rangers</td>
                          <td>"NHL 75th Anniversary" Patch</td>
                          <td>1991-92</td>
                        </tr>
                        <tr>
                          <td>Any</td>
                          <td>New York Rangers</td>
                          <td>"TBTC NHL 75th Anniversary" Patch</td>
                          <td>1991-92</td>
                        </tr>
                        <tr>
                          <td>Any</td>
                          <td>New York Rangers</td>
                          <td>"100 Years Stanley Cup" Patch</td>
                          <td>1992-93</td>
                        </tr>
                        <tr>
                          <td>Any</td>
                          <td>New York Rangers</td>
                          <td>Preseason "French's Mustard" Patch</td>
                          <td>1993-94</td>
                        </tr>
                        <tr>
                          <td>Any</td>
                          <td>New York Rangers</td>
                          <td>Blue Set 1 "NHL All-Star Game" Patch</td>
                          <td>1993-94</td>
                        </tr>
                        <tr>
                          <td>Any</td>
                          <td>New York Rangers</td>
                          <td>"Stanley Cup Finals" Patch</td>
                          <td>1993-94</td>
                        </tr>
                        <tr>
                          <td>Any</td>
                          <td>New York Rangers</td>
                          <td>Liberty</td>
                          <td>1996-97</td>
                        </tr>
                        <tr>
                          <td>Any</td>
                          <td>New York Rangers</td>
                          <td>White Liberty Set 1</td>
                          <td>1998-99</td>
                        </tr>
                        <tr>
                          <td>Any</td>
                          <td>New York Rangers</td>
                          <td>Blue Set 2</td>
                          <td>1998-99</td>
                        </tr>
                        <tr>
                          <td>Any</td>
                          <td>New York Rangers</td>
                          <td>"NHL 2000" Patch</td>
                          <td>1999-00</td>
                        </tr>
                        <tr>
                          <td>Any</td>
                          <td>New York Rangers</td>
                          <td>White Set 1 "9/11" Patch</td>
                          <td>2001-02</td>
                        </tr>
                        <tr>
                          <td>Any</td>
                          <td>New York Rangers</td>
                          <td>Set 1 Reebok 1.0</td>
                          <td>2007/08</td>
                        </tr>
                        <tr>
                          <td>Any</td>
                          <td>New York Rangers</td>
                          <td>Winter Classic</td>
                          <td>2011/12</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    Misc. Players and Styles
                    <i class="icon-angle-down pull-right"></i>
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Player</th>
                          <th>Team</th>
                          <th>Style</th>
                          <th>Season</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Olaf Kolzig</td>
                          <td>Washington Capitals</td>
                          <td>Black Alt. "Curved Name"</td>
                          <td>1997-00</td>
                        </tr>
                        <tr>
                          <td>Chris Osgood</td>
                          <td>Detroit Red Wings</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Curtis Joseph</td>
                          <td>Any</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Kirk McLean</td>
                          <td>Any</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Guy Hebert</td>
                          <td>Any</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Dominik Hasek</td>
                          <td>Any</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Eddie Belfour</td>
                          <td>Any</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Jonathan Quick</td>
                          <td>Los Angeles Kings</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Roberto Luongo</td>
                          <td>Any</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Jimmy Howard</td>
                          <td>Detroit Red Wings</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Cory Schneider</td>
                          <td>Vancouver Canucks</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Mike Vernon</td>
                          <td>Any</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Patrick Roy</td>
                          <td>Any</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Jean-Sebastien Giguere</td>
                          <td>Any</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                        <tr>
                          <td>Sean Burke</td>
                          <td>Any</td>
                          <td>Any</td>
                          <td>Any</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <div class="center">
          <img src="http://farm4.staticflickr.com/3821/12420829904_22c638acb0_o.png" width="150px" class="img-circle animate_from_left" alt="Branden Mittra">
        </div>
        <br />
        <p>Hi, I'm Branden. I've been part of the Game Worn hobby since 2002. However, my collection unknowingly started in 1999 when I was lucky enough to get a <a href="#">puck</a> that Mike Richter deflected into the Madison Square Garden stands during warmups of my first ever NHL game.<p>
          <p>If you have any Mike Richter or New York Rangers game used jerseys or equipment for sale, please send me a message. Thanks for visiting my site and I hope you enjoy my collection.</p>

      </div>
      <div class="col-md-5">
        <h3>Contact Me</h3>
        <form role="form">
          <div class="form-group">
            <input type="name" class="form-control" id="name" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Email Address">
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="5" placeholder="Message"></textarea>     
          </div>          
            <button type="submit" class="btn btn-sm btn-success">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>