<ul class="cb-slideshow">
  <li style="list-style: none"><span>Image 01</span><div></li>
  <li style="list-style: none"><span>Image 02</span><div></li>
  <li style="list-style: none"><span>Image 03</span><div></li>
  <li style="list-style: none"><span>Image 04</span><div></li>
  <li style="list-style: none"><span>Image 05</span><div></li>
  <li style="list-style: none"><span>Image 06</span><div></li>
</ul>

  
<section>
	<div class="jumbotron" style="z-index: 1000; position: relative;">
  <div class="span10 center" style="padding-top: 150px;">

    <h1 class="animated slideInDown" data-animation="slideInDown">COMING SOON<br/>The <img src="http://farm4.staticflickr.com/3719/12244562896_c94f840b17_o.png" width="350px">Collection </h1>

    	<!-- <br /> <a class="scroll" data-speed="1000" href="#jerseys"><btn class="btn btn-primary">Enter</btn></a></h1> -->
    
  </div>
</div>
</section>
<section>
  <div class="jerseys">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <h2>Game Worn Jerseys</h2>
            <div class="row">
              <div class="box">
                <img src="../ulf-samuelsson-back.png" alt="Ulf Samuelsson">
              </div>
              <div class="box">
                <img src="../del-zotto-back.png">
              </div>
              <div class="box">
                <img src="../prucha-home-back.png" class="img-polaroid">
              </div>
            </div>
              <div class="box">
                <img src="../steve-eminger-back.png" class="img-polaroid">
              </div>
              <div class="box">
                <img src="../prucha-home-back.png" class="img-polaroid">
              </div>
              <div class="box">
                <img src="../steve-eminger-back.png" class="img-polaroid">
              </div>
              <div class="box">
                <img src="../ulf-samuelsson-back.png" alt="Ulf Samuelsson">
              </div>
              <div class="box">
                <img src="../del-zotto-back.png">
              </div>
          </div>
        </div>
    </div>
  </div>
</section>



<section>
  <div class="wanted">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Want List</h2>

        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <img src="../me.png" width="150px" class="img-thumbnail" alt="Branden Mittra">
        <p>Hi, I'm Branden. I've been part of the Game Worn hobby since 2002. However, my collection unknowingly started in 1999 when I was lucky enough to get a <a href="#">puck</a> that Mike Richter deflected into the Madison Square Garden stands during warmups of my first ever NHL game.<p>
          <p>If you have any Mike Richter or New York Rangers game used jerseys or equipment for sale, please send me a message. Thanks for visiting my site and I hope you enjoy my collection.</p>

      </div>
      <div class="col-md-5">
        <h3>Contact Me</h3>
        <form role="form">
          <div class="form-group">
            <input type="name" class="form-control" id="name" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Email Address">
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="5" placeholder="Message"></textarea>     
          </div>          
            <button type="submit" class="btn btn-sm btn-primary">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>