<ul class="cb-slideshow">
  <li style="list-style: none"><span>Image 01</span><div></li>
  <li style="list-style: none"><span>Image 02</span><div></li>
  <li style="list-style: none"><span>Image 03</span><div></li>
  <li style="list-style: none"><span>Image 04</span><div></li>
  <li style="list-style: none"><span>Image 05</span><div></li>
  <li style="list-style: none"><span>Image 06</span><div></li>
</ul>

  
<section>
	<div class="jumbotron" style="z-index: 9999; position: relative;">
  <div class="span10 center" style="padding-top: 150px;">

    <h1 class="animated slideInDown" data-animation="slideInDown">COMING SOON<br/>The <img src="http://farm4.staticflickr.com/3719/12244562896_c94f840b17_o.png" width="350px">Collection </h1>

    	<!-- <br /> <a class="scroll" data-speed="1000" href="#jerseys"><btn class="btn btn-primary">Enter</btn></a></h1> -->
    
  </div>
</div>
</section>