<footer>
	<div class="footer">
  <div class="container">
    <img src="http://farm4.staticflickr.com/3719/12244562896_c94f840b17_o.png" width="300px">
	<br>
		<a href="http://twitter.com/richterfan_35" class="fa fa-twitter"></a>
		<a href="http://facebook.com/richterfan35" class="fa fa-facebook"></a>
		<a href="http://pinterest.com/richterfan35" class="fa fa-pinterest"></a>
		<a href="https://plus.google.com/100090128705357738841" class="fa fa-google-plus"></a>
	<br>
    <small>
		© 2014 <a href="https://plus.google.com/100090128705357738841" rel="author">Branden Mittra</a>
	</small>
  </div>
</div>
</footer>